parameters:
    level: max
    excludePaths:
        - src/Widget/Canvas/Data
    paths:
        - src
        - tests
    universalObjectCratesClasses:
        - FFI\CData
    ignoreErrors:
    - '#Cannot access offset \d+ on FFI\\CData.+#'
